{{ define "main" }}

<div class="container m-auto text-apple-black px-8 flex flex-col min-h-screen">
    
    <div class="pt-16 prose prose-slate dark:prose-invert m-auto ">
        <h1 class="text-4xl font-bold pt-16 mx-auto">{{ .Title }}</h1>
        {{ .Content}}
    </div>
</div>

{{ end }}