<footer class=" align-middle">
    <div class="text-gray-400 pt-1 pb-1 container mx-auto px-8 py-8 flex justify-center">
        <div class="text-xs">Domen Klinc</div>
        <div class="text-xs hidden sm:block">&emsp;•&emsp;</div>
        <div class="text-xs hidden sm:block">Analogne in digitalne tehnologije IP</div>
        <div class="text-xs">&emsp;•&emsp;</div>
        <div class="text-xs">©2023 UL ALUO</div>
    </div>
</footer>
