<header class="py-4 fixed top-0 w-full backdrop-blur-xl bg-white/[.4] dark:bg-black/[.6]">
    <div class="container mx-auto flex items-center justify-between px-8">
        <h1 class="text-lg font-semibold text-gray-800 dark:text-gray-200 md:hidden"><a
                href="{{ .Site.Home.RelPermalink }}">A&D T</a></h1>
        <h1 class="text-lg font-semibold text-gray-800 dark:text-gray-200 hidden md:block"><a
                href="{{ .Site.Home.RelPermalink }}">{{site.Title}}</a></h1>
        <nav>
            <ul class="flex space-x-4 text-gray-800 hover:text-black dark:text-gray-200 dark:hover:text-white">
                {{ if eq .Site.Language.Lang "sl"}}
                <li><a class=" text-xl" href="/en/">🇬🇧</a></li>
                {{ else }}
                <li><a class=" text-xl" href="/sl">🇸🇮</a></li>
                {{ end }}
                {{/*  {{ range site.Menus.main }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }} */}}
            </ul>
        </nav>
    </div>
</header>