{{ define "main" }}



<main class="mx-auto py-16 space-y-4 text-slate-400 ">
    <div class=" mx-0 h-[500px] md:h-[650px] bg-scroll bg-cover bg-no-repeat" style="background-image: url(/pano.jpeg);"></div>
    <div class="container mx-auto sm:mx-auto grid grid-cols-1 gap-4 md:grid-cols-2 xl:grid-cols-3 sm:px-4">
    
        {{ range .Site.RegularPages }}
        {{ if eq .Type "project" }}

        <div
            class="shadow hover:shadow-xl transition duration-200 ease-out aspect-square flex flex-col dark:bg-neutral-900 bg-white">
            <a href="{{.RelPermalink}}" class="flex-auto flex flex-col">
                <div class="bg-cover bg-center flex-auto" style="background-image: url({{.Params.coverPhoto}});">
                    {{/*  <img class="w-full object-cover"
                            src="{{.Params.coverPhoto}}"> */}}
                </div>
            
                <div class="p-4 flex-none bg-white dark:bg-neutral-900">
                    <div class=" uppercase tracking-wide text-xs text-orange-500 font-semibold">{{.Params.Izvajalec}} •
                        {{.Params.TipNaloge}}
                    </div>
                    <a href="{{.RelPermalink}}"
                        class="block mt-1 text-lg leading-tight font-medium dark:text-white text-black hover:underline">{{.Title}}</a>
                    <p class="mt-2 text-slate-500">{{.Params.Description}}</p>
                </div>
            </a>
        </div>
        {{ end }}
        {{ end }}
    </div>
    {{/*  {{ $numComponents := 3 }}
    {{ range seq $numComponents }}
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="max-w-md mx-auto dark:bg-black bg-white border-solid border-2 border-white overflow-hidden md:max-w-2xl">
            <div class="md:flex">
                <div class="md:shrink-0">
                    <img class="h-48 w-full object-cover md:h-full md:w-48"
                        src="https://www.thomasbruggisser.ch/abbildungen/super-welcome-to-graphic-wonderland/_gross/Super02-01.jpg" alt="Modern building architecture">
                </div>
                <div class="p-8">
                    <div class=" uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{site.Title}}</div>
                    <a href="#"
                        class="block mt-1 text-lg leading-tight font-medium dark:text-yellow-500 text-black hover:underline">Incredible
                        accommodation for your team</a>
                    <p class="mt-2 text-slate-500">{{site.Params.Description}}</p>
                </div>
            </div>
        </div>
    </div>
    {{ end }}  */}}

</main>
{{ end }}